:root {
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --main-btn-color: #2196f3;
  --secondary-btn-color: #f5f4fa;
  --background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* -----Header------ */
.header-logo span {
  color: var(--main-text-color);
}

.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}

.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}

/* Hero */
/* Тимчасовий фон */
.hero {
  background-color: gray;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-btn {
  color: #ffffff;
  background-color: var(--accent-color);
}

/* Features */

.features-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.features-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* Work */

/* Team */
.team {
  background-color: var(--secondary-background-color);
}

.work-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.work-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* Footer */

.footer {
  background-color: #2f303a;
}

.footer-logo span {
  color: #ffffff;
}

.footer-list-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-list-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-list-link:hover,
.footer-list-link:focus {
  color: var(--accent-color);
}

/* ____PAGE PORTFOLIO______ */
/* Gallery */
.gallery-filter-btn {
  background-color: var(--secondary-btn-color);
}

.gallery-filter-btn:hover,
.gallery-filter-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.gallery-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.gallery-list-text {
  font-size: 16px;
  line-height: 1.88x;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
